.categorias-card-inicio {
    background-color: #fafafa;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    transition: 0.2s;
    border: 0;
}

.categorias-card-inicio:hover {
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 10px;
}

.categorias-card-inicio img {
    width: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 12px;
}

.categorias-card-inicio h1 {
    font-size: 12px;
    font-weight: bold;
    color: #121217;
    margin: 0;
}

.div-itens-card-categoria {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
