.categorias-card-inicio {
    padding: 8px;
    border: none;
    background: #fafafa;
    margin: 0 8px;
    border-radius: 4px;
    transition: 0.2s;
}

.categorias-card-inicio:hover {
    box-shadow: rgba(255,255,255, 0.8) 0 0 15px;
}

.categorias-card-inicio img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: contain;
}

.title-card-categoria {
    color: #121217;
    margin: 0;
    font-size: 16px;
}

.div-itens-card-categoria {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title-card-categoria {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 600;
}
