.categorias-div-inicio {
    max-width: 100%;
    position: relative;
}

.div-cards-categorias-carousel-inicio {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 15px;
}

.div-button-scroll-categorias {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.arrow-left-categoria {
    left: 0;
}

.arrow-right-categoria {
    right: 0;
}

.div-button-scroll-categorias button {
    border: none;
    transition: 0.2s;
    height: 100%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-button-scroll-categorias button:hover {
    width: 87px;
}

.bg-arrow-left button {
    background: linear-gradient(90deg, rgba(18, 18, 23, 1), rgba(18, 18, 23, 1),rgba(18, 18, 23, 1),  rgba(18, 18, 23, 0));
}

.bg-arrow-right button {
    background: linear-gradient(270deg, rgba(18, 18, 23, 1), rgba(18, 18, 23, 1),rgba(18, 18, 23, 1),  rgba(18, 18, 23, 0));
}

.arrow-carousel-categoria {
    font-size: 24px;
    color: #dfab21;
}
