.veiculos {
    max-width: 100%;
}

.filtro-div-veiculos {
    min-height: 100vh;
    height: auto;
    background: #121217;
    padding: 24px;
    border-right: #282833 1px solid;
}

.cards-div-veiculos {
    background: #121217;
    padding: 24px 0;
}

.menu-filtros-div-veiculos {
    margin-bottom: 32px;
}

.menu-filtros-div-veiculos h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #FAFAFA;
}

.clear-filtro-button {
    background-color: #282833;
    border: none;
    padding: 4px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    color: #fafafa;
}

.filtro-button {
    background-color: #00ACFF;
    color: #FAFAFA;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 16px;
    height: min-content;
}

.icon-button-filtro {
    margin-left: 4px;
}

.div-clear-filtro-button {
    padding-right: 8px;
}

.div-filtro-button {
    padding-left: 8px;
    display: flex;
}

.ordenar-por-button {
    padding: 8px 24px;
    border: none;
    background-color: #00ACFF;
    color: #fafafa;
    border-radius: 8px;
    margin-left: 12px;
}

.dropdown-ordenar-por-li {
    padding: 4px;
    width: 100%;
    border: none;
    background-color: #fafafa;
}

.dropdown-ordenar-por-li:hover {
    background-color: #e8e8e8;
}

.dropdown-menu-div {
    background-color: #fafafa;
}

.menu-preco-filtros-div-veiculos h1 {
    font-size: 14px;
    color: #FAFAFA;
    margin: 0;
}

.menu-preco-filtros-div-veiculos label {
    color: #FAFAFA;
    background-color: #282833;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 8px;
}

.menu-preco-filtros-div-veiculos input {
    border-left: 1px solid #3F3F50;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #FAFAFA;
    padding: 8px;
    color: #FAFAFA;
    font-size: 14px;
}

.menu-preco-filtros-div-veiculos input:focus {
    outline: none;
}

.menu-preco-filtros-div-veiculos input::placeholder {
    color: #b1b1b1;
    font-size: 14px;
}

.menu-preco-filtros-div-veiculos div {
    border-radius: 8px;
    margin-top: 12px;
}

.menu-preco-filtros-div-veiculos {
    margin-bottom: 32px;
}

.div-input-preco {
    background-color: #282833;
}

.div-input-preco input {
    width: max-content;
    background-color: #282833;
}

.marcas-cards-div-veiculos {
    width: 100%;
    padding: 0 32px;
}

.cards-itens-div-veiculos {
    padding: 24px;
    width: 100%;
    justify-content: center;
}

.div-pre-content-estoque {
    display: flex;
    justify-content: space-between;
}

.cards-itens-div-veiculos h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FAFAFA;
}

.cards-itens-div-veiculos h3 {
    font-weight: 300;
    margin-bottom: 24px;
}

.cards-itens-div-veiculos span {
    font-weight: 600;
}

.cards-itens-div-none-veiculos h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #FAFAFA;
}

.cards-itens-div-none-veiculos h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 96px;
}

.cards-itens-div-none-veiculos {
    padding: 24px;
    width: 100%;
}
